@font-face {
  font-family: dotty;
/*  src: url(Bazaronite.ttf); /* */
  src: url("onlywif_.ttf"); /* */
}

body {
	background: black;
}

td {
	padding-left: 50px;
	padding-right: 50px;
	border-color: red;  
	border-style: solid  /* */
}

.loading {
	color: red;
	display: none;
}

.input {
	color: white;
	display: block;
}

.debug {
	color: white;
	display: block;
}

.L1 {
	font-size: 64pt;
	font-family: dotty;  /* */
/*	font-family: arial;  /* */
	color: ivory;	
	text-align: right;
	white-space: nowrap;
}

.L2 {
	font-size: 64pt;
	font-family: dotty; /* */
/*	font-family: arial; /* */
	color: lightgreen;	
	text-align: right;
	white-space: nowrap;
}

.ticker {
	height: 192px; 	
	overflow: hidden;
	position: relative;
}

.tickerTable {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 80px;
    text-align: center;

    /* Starting position */
       -moz-transform:translateX(100%);
       -webkit-transform:translateX(100%);	
       transform:translateX(100%);

 /* Apply animation to this element */	
       -moz-animation: ticker 8s linear infinite;
       -webkit-animation: ticker 8s linear infinite;
       animation: ticker 8s linear infinite;
}


/* Move it (define the animation) */
      @-moz-keyframes ticker {
       0%   { -moz-transform: translateX(100%); }
       100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes ticker {
       0%   { -webkit-transform: translateX(100%); }
       100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes ticker {
       0%   { 
       -moz-transform: translateX(100%); /* Firefox bug fix */
       -webkit-transform: translateX(100%); /* Firefox bug fix */
       transform: translateX(100%); 	/* */	
/*       -moz-transform: translateX(0); /* Firefox bug fix */
/*       -webkit-transform: translateX(0); /* Firefox bug fix */
/*       transform: translateX(0); 	/* */	

       }
       100% { 
       -moz-transform: translateX(-100%); /* Firefox bug fix */
       -webkit-transform: translateX(-100%); /* Firefox bug fix */
       transform: translateX(-100%); 
       }
      }
    