
a:hover {color:red; text-decoration:none;} 

h1 { align: center }

body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: darkblue;
  background-color: white }
	
.joinform {
  font-family: "Times New Roman",
        Times, serif;
  color: black;
  background-color: white }
	
.TCunderline {
	border-bottom: thin solid black ;
	border-spacing: 0 ;
	align: right ;
}

.pseudolink {
  color: blue ;
  text-decoration: underline ;
}

.pseudolink:hover {color:red; text-decoration:none;} 

#header {
}

#middle {
  position: relative;
  top: 0;
  left: 0;
}

#menu {
  float: left ;  
  width: 20% ;
  text-align: center;
}

#body {
  float: left ;
  width: 80% ;
}

#bodyheader {
  width: 100% ;
}

#bodybody {
}


#footer {
  clear:both;
}