
:root {
//  --light-bg-colour: #E1F5FE;
//  --fgcolour: darkblue;
  
  --light-bg-colour: #cfdbad;
  --fgcolour: #587e11;
}


body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24pt;

  color: var(--fgcolour);
  background-color: white;
}
	
h2 {
    background-color: var(--light-bg-colour);
	padding: 7;
    border-radius: 10px;
}

.menubar
{
    background-color: var(--light-bg-colour);
    border-radius: 10px;
}

#menupad {
//  width: 200px;
//  display: none; 
	font-size: 30pt;
}
	
.pseudolink {
    color: var(--fgcolour) ;
    text-align: center ;
    background-color: var(--light-bg-colour);
	font-size: 30pt;
    padding: 10px;
    width: 12%;
    border-radius: 10px;
}

.pseudolink:hover {
    color:white; 
    background-color: var(--fgcolour) ;
} 

#middle {
  position: relative;
  top: 0;
  left: 0;
}

#menu {
	width: 100%;
  float: left ;  
//  left: 200;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 14px;
}

#watermark {
  position: absolute;
  opacity: 0.05;
  z-index: -1;
  display: none; 
}

#headname {
	font-size: 72px
}

#bod {
	position: relative;
	clear: left;
	padding: 15;
	justify-content: center;
    display: flex;
}

#bodybody {
	max-width: 1170;
}

#header {
  width: 100% ;
}

#bodyheader {
  width: 100% ;
}

#strap {
	font-size: 24pt;
	display:inline-block; 
	width:100%;
	align: left;
}

#contactTable > tbody > tr > td {
	padding: 5;
    border-radius: 10px;
	font-size: 22pt;
}

.aboutSection {
	box-shadow: 0px 0px 35px 15px var(--light-bg-colour);
	padding: 15;
    border-radius: 10px;
	margin: 15;
}

#footer {
	clear:both;
	font-size: small;
    background-color: var(--light-bg-colour);
    border-radius: 10px;
	padding: 15;
}