/* Generic for the entire website */
:root {
  --light-bg-colour: #ffffff;
  --green-bg-colour:#cee5d5;
  --alt-bg-colour: #eedb85;
  --fgcolour: #284932;

  --border-rad: 15px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;

  color: var(--fgcolour);
  background-color: var(--fgcolour);
}

	
h2 {
	padding: 7;
    border-radius: var(--border-rad);
}

@media screen and (max-width:532px), screen and (max-device-width:532px) {
	body {  
		font-size: 12pt;
	}
}

/* Menu and headers */
.header {
	width: 100%;
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

.menu {
  width: 80%;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: var(--border-rad);
}

.menubar {
    background-color: var(--light-bg-colour);
	display: grid;
	grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: var(--border-rad);
}

@media screen and (max-width:762px), screen and (max-device-width:762px) {
	.menubar {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width:532px), screen and (max-device-width:532px) {
	.menubar {
		grid-template-columns: 1fr;
	}
}
	
.pseudolink {
    color: var(--fgcolour) ;
    text-align: center ;
    background-color: var(--light-bg-colour);
	font-size: 30pt;
    padding: 10px;
    /* width: 25%; */
    border-radius: var(--border-rad);
	cursor: pointer;
}

.pseudolink:hover {
    background-color: var(--green-bg-colour) ;
} 

#headname {
	font-size: 72px
}

/* Middle body/content - general */

.page-grid-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bod {
	position: relative;
	clear: left;
	padding: 15px;
	justify-content: center;
    display: flex;
	flex: 1 0 auto;
	background-color: var(--light-bg-colour);
    border-radius: var(--border-rad);
    margin: 10px auto;
	width: 80%;
}

#bodybody {
	max-width: 1170px;
}

#header {
  width: 100% ;
}

#bodyheader {
  width: 100% ;
}

/* Specific for home page */
#strap {
	font-size: 24pt;
	display:inline-block; 
	width: 100%;
	font-weight: thin;
}

#strap h3 {
  font-weight: 400;
}

#strap h3 img {margin-left: 0;
}

#strap h3 img {
  /* No extra margin needed on the image itself */
}

#strap h3:has(img) {
  padding-left: 32px;
}

@media screen and (max-width:762px), screen and (max-device-width:762px)  {
	.logo {
		display: none;
	}
}

@media screen and (max-width:532px), screen and (max-device-width:532px) {
	#strap {
		font-size: 18pt;
	}
}

/* Specific for about page */
.about-grid-container {
  display: grid;
  grid-template-areas: 'aboutSection';
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.aboutSection {
	background-color: var(--green-bg-colour);
	padding: 20px;
    border-radius: var(--border-rad);
	margin: 10px;
}

.aboutSection h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.aboutSection h3 img {
  vertical-align: middle;
  margin-right: 6px;
}

@media screen and (min-width:762px), screen and (min-device-width:762px) {
	.aboutSection:nth-child(4n) {
		background-color: var(--alt-bg-colour);
	}
	.aboutSection:nth-child(4n+1) {
		background-color: var(--alt-bg-colour);
	}
}

@media screen and (max-width:762px), screen and (max-device-width:762px) {
	.about-grid-container {
	  grid-template-columns: 1fr; /* Revert to single column */
	}

	.aboutSection:nth-child(even) {
		background-color: var(--alt-bg-colour);
	}
}

/* Specific for contact page */

.contactTable {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 2fr;
}

@media screen and (max-width:762px), screen and (max-device-width:762px) {
	.contactTable {
	  grid-template-columns: 1fr; /* Revert to single column */
	}
	
	.about-detail-title {
		margin-top: 15px;
	}
}

#li-n {
	display: none;
}


@media screen and (max-width:532px), screen and (max-device-width:532px) {
	#li-n {
		display: inline-block;
	}
	
	#li-w {
		display: none;
	}
}

/* Footer (all pages) */

/*	grid-area: footer; */
.footer {
	clear: both;
	font-size: small;
    background-color: var(--light-bg-colour);
    border-radius: var(--border-rad);
	padding: 15px;
	flex-shrink: 0;
    margin: 10px auto;
	width: 80%;
}