

body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: darkblue;
  background-color: white;
}
	
h2 {
    background-color: #E1F5FE;
}
	
.pseudolink {
    color: darkblue ;
    text-align: center ;
    background-color: #E1F5FE;
	font-size: 30pt;
    padding: 10px;
    width: 12%;
}

.pseudolink:hover {
    color:white; 
    background-color: darkblue ;
} 

.Bordered {
    border: 1px darkblue;
    border-style: solid;
    border-collapse: collapse;
}

.Bordered td {
    border: 1px darkblue;
    border-style: solid;
    padding: 5px;
}

.GalleryImage {
    height: 200;
    margin: 5;
}

#middle {
  position: relative;
  top: 0;
  left: 0;
}

#menu {
	width: 100%;
  float: left ;  
//  left: 200;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 14px;
}

#watermark {
  position: absolute;
  opacity: 0.15;
  z-index: -1;
  display: none; 
}

#headname {
	font-size: 72px
}

#bod {
  position: relative;
  clear: left;
}

.DateCell
{
	padding-left: 10;
	padding-right: 10;
}

.menubar
{
    background-color: #E1F5FE;
}

#menupad {
//  width: 200px;
//  display: none; 
	font-size: 36pt;
}

#header {
  width: 100% ;
}

#bodyheader {
  width: 100% ;
}

#contactTable > tbody > tr > td {
	padding: 5;
}

.TCunderline {
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#footer {
  clear:both;
  font-size: x-small;
}