

/* Generic for the entire website */
:root {
  --light-bg-colour: #cee5d5;
  --alt-bg-colour: #eedb85;
  --fgcolour: #284932;

  --border-rad: 15px;
}

body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;

  color: var(--fgcolour);
  background-color: white;
}

	
h2 {
    background-color: var(--light-bg-colour);
	padding: 7;
    border-radius: var(--border-rad);
}


@media screen and (width <= 768px) {
	body {  
		font-size: 20pt;
	}
}

/* Menu and headers */
.header {
	width: 100%;
	display: flex;
}

/*
.menupad-w {
	width: 33%;
	font-size: 30pt;
	display: inline-block;
}

.menupad-n {
	width: 33%;
	display: none;
}
*/

@media screen and (width <= 768px) {
	.menupad-w {
		display: none;
	}

	.menupad-n {
		display: inline-block;
	}
}

.menu {
	width: 100%;
//  float: left ;  
	display: inline-block;

/*//  left: 200; */
  text-align: center;
  position: relative;
  z-index: 1;
//  margin-bottom: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.menubar {
    background-color: var(--light-bg-colour);
    border-radius: var(--border-rad);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (width <= 768px) {
	.menubar {
		grid-template-columns: 1fr 1fr;
	}
}
	
.pseudolink {
    color: var(--fgcolour) ;
    text-align: center ;
    background-color: var(--light-bg-colour);
	font-size: 30pt;
    padding: 10px;
//    width: 25%;
    border-radius: var(--border-rad);
}

.pseudolink:hover {
    color:white; 
    background-color: var(--fgcolour) ;
} 

#headname {
	font-size: 72px
}

/* Middle body/content - general */

.bod {
	position: relative;
	clear: left;
	padding: 15;
	justify-content: center;
    display: flex;
}

#bodybody {
	max-width: 1170px;
}

#header {
  width: 100% ;
}

#bodyheader {
  width: 100% ;
}

/* Specific for home page */
#strap {
	font-size: 24pt;
	display:inline-block; 
	width: 100%;
	align: left;
}

/* Specific for about page */
.about-grid-container {
  display: grid;
  grid-template-areas: 'aboutSection';
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.aboutSection {
	background-color: var(--light-bg-colour);
	padding: 20px;
    border-radius: var(--border-rad);
	margin: 10px;
}

@media screen and (width > 768px) {
	.aboutSection:nth-child(4n) {
		background-color: var(--alt-bg-colour);
	}
	.aboutSection:nth-child(4n+1) {
		background-color: var(--alt-bg-colour);
	}
}

@media screen and (width <= 768px) {
	.about-grid-container {
	  grid-template-columns: 1fr; /* Revert to single column */
	}

	.aboutSection:nth-child(even) {
		background-color: var(--alt-bg-colour);
	}
}

/* Specific for contact page */

#contactTable > tbody > tr > td {
	padding: 5;
    border-radius: var(--border-rad);
	font-size: 22pt;
}

/* Footer (all pages) */

.footer {
/*	grid-area: footer; */
	clear:both;
	font-size: small;
    background-color: var(--light-bg-colour);
    border-radius: 10px;
	padding: 15;
}