a { color:darkcyan }
a:hover {color:blue; text-decoration:none;} 

a:visited {color:darkcyan }

body {
color:black;
font-family:arial;
background-color:lightblue;
background-image:url('./Resources/background.jpg');
background-size: cover;
background-postion: center;
background-attachment: fixed;
}

.mainP {
background: rgba(255,255,255,0.5);
padding: 10px;
display: inline-block;
}

iframe[seamless] {
border: none;}



